.login-form {
	width: 100%;
	overflow-y: hidden;
	margin-bottom: 16px;
}

.inputs-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	line-height: 17.5px;
	color: white;
	padding-left: 16px;
	padding-right: 16px;
}

.input-container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.inscription {
	margin-bottom: 6px;
}

.error-message {
	text-align: right;
}

.password-icon {
	color: white;
}

.password-button {
	display: flex;
	width: 20px;
	height: 20px;
	align-items: center;
	background-color: #303030;
	border: unset;
	margin-right: 18px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 32px);
	position: fixed;
	bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}
.enter-button {
	position: relative;
	width: 100%;

	height: 56px;
	border-radius: 10px;
}

mat-form-field {
	font-family: Raleway;
}
