<div class="input">
	<mat-form-field class="search-input" appearance="outline">
		<input
			#input
			style="color: white"
			name="inventorySearch"
			matInput
			mat-input-infix
			[placeholder]="'search.placeholder' | transloco"
			autocomplete="off"
			[(ngModel)]="searchValue"
			(ngModelChange)="searchSubject.next(searchValue().toLowerCase())"
		/>
		<mat-icon
			matPrefix
			svgIcon="loupe"
			style="width: 18px; margin-left: 5px"
		></mat-icon>
		@if (searchValue() === '' && !storage) {
			<button
				style="margin-right: 5px"
				matSuffix
				mat-icon-button
				aria-label="Barecode-scanner"
				(click)="openModal.emit()"
			>
				<mat-icon
					style="color: rgba(249, 249, 249, 1)"
					matSuffix
					svgIcon="barecode-search"
				></mat-icon>
			</button>
		}
		<!-- кнопка сброса -->
		@if (searchValue() !== '') {
			<button
				style="margin-right: 5px"
				matSuffix
				mat-icon-button
				aria-label="Clear"
				(click)="clearSearch()"
			>
				<mat-icon
					style="color: rgba(249, 249, 249, 1)"
					matSuffix
					svgIcon="claer-input"
				></mat-icon>
			</button>
		}
	</mat-form-field>

	<!-- панелька с выбором -->
	@if (searchValue() !== '' && expansionPanelOpen()) {
		<mat-expansion-panel
			[expanded]="expansionPanelOpen()"
			hideToggle
			[disabled]="true"
		>
			<mat-list class="options" *ngIf="!!storage">
				<div mat-subheader>
					<mat-list-item
						togglePosition="before"
						class="list-item"
						*ngFor="let item of searchDataSource"
					>
						<span class="item-text" (click)="selectSearchItem(item)"
							>{{ item.storageItemName }}
						</span></mat-list-item
					>
				</div>
			</mat-list>
		</mat-expansion-panel>
	}
</div>
